.forumPostPreview{
    padding:10px;
    max-height:150px;
    overflow:auto;
}

.forumPostEdit{
    display:none;
    padding:10px;
}

textarea{
    padding: 2px 5px;
}

.redactor-editor{
    background-color: #fff;
    padding: 2px 5px;
 }

.forumPostEdit .well{
    background-color: #fff;
 }
 
input.hasDatepicker {
    width: 85px !important;
}

.ccm-ui .table tbody td:hover{
    background-color: #F5F5F5 !important;
}

.form-inline {
    width: 307px;
}

.ccm-ui .table tbody td:hover{
    background-color: #F5F5F5 !important;
}

.forumPostEdit,
.newPost{
    background-color: #F5F5F5;
    padding: 20px;
}

#twitterPostBox label{
    width: 150px;
    margin-bottom: 10px;
}

#twitterPostBox select {
    margin-left: 153px;
}

textarea{
    width: 100%;
}

.open-popup-link {
  display: block;
  font-size: 24px;
  text-align: center;
}

th{
    cursor: default !important;
}

.ccm-pagination-wrapper {
    display: table;
    font-size: 9px;
    margin: 0 auto;
}
  
.forumDashboardPost{
    max-height:100px;
    overflow: auto;
}

.existingAttrValue,
.newAttrValue{
   display: inline-block;
   margin-right: 5px;
 }

.ccm-input-date,
#public_date_h,
#public_date_m,
#public_date_a{
  font-size: 12px !important;
}