
.forumUnApprovedText{
    color: red;
    font-weight: bold;
}

.forumPinnedText{
    color: green;
    font-weight: bold;
}

.latestDiscussionWrap{
    padding: 0 0 10px 25px;
}

.forumListCategories{
    border-bottom: 1px solid #ccc;
}

.latestDiscussion{
    padding: 7px 0;
}

.latestReply{
    padding: 0 0 4px 0;
    font-style: italic;
}

.latestReplies{
    padding: 0 0 20px 25px;
}