.forumPost{
    margin: 10px 0;
}

.forumEditButton,
.forumPinButton,
.forumUnPinButton,
.forumBanButton,
.forumDeleteButton,
.forumApproveButton,
.forumUnApproveButton{
    margin-right: 5px;
    float: left
}

.forumPostButton{
    float: right;
}

.forumUnApprovedText{
    color: red;
    font-weight: bold;
}