.forumArchive li {
    list-style-type: none;
	margin-left: 10px;
}

.forumArchive a{
    font-size: 15px;
    position: relative;
    text-decoration: none;
}
.forumArchive ul{
    padding: 0;
}
.forumArchive ul ul {
    display: none;
	margin-left:10px;
}
.forumArchive ul ul li a {
    font-size: 13px;
}
.forumArchive ul li a:hover {
    text-decoration:none;
}
.forumArchive ul ul ul li a:hover,
.forumArchive ul ul ul li a.active{
    text-decoration:none;
}
.forumArchive li.active > ul {
    display: block;
}
.forumArchive ul ul ul {
    margin-left: 10px;
}
.forumArchive a:not(:only-child):after {
    position: absolute;
    right: 10px;
    top: 0;
}
.forumArchive .active > a:not(:only-child):after {